<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; 2013 by Eric Holland. All Rights Reserved</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
             <li><a href="https://github.com/holl0272" target="_blank">GITHUB<!-- <i class="foundicon-github"></i> --></a></li>
                <li><a href="https://twitter.com/dork_a_saurus" target="_blank">TWITTER<!-- <i class="foundicon-twitter"></i> --></a></li>
                <li><a href="http://www.facebook.com/eric.holland.58173" target="_blank">FACEBOOK<!-- <i class="foundicon-facebook"></i> --></a></li>
                <li><a href="www.linkedin.com/in/eholland/" target="_blank">LINKEDIN<!-- <i class="foundicon-linkedin"></i> --></a></li>
                <li><a href="http://holl0272.tumblr.com/" target="_blank">TUMBLR<!-- <i class="foundicon-tumblr"></i> --></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>