- if @auth.present? && @auth.sub.present? && !@auth.sub.has_subscription?
  %fieldset
    %legend Subscriptions
    / %table
    /   %tr
    - Subscription.all.each do |subscription|
      / %td
      .float= button_to(subscription.plan, purchase_subscribers_path(:plan => subscription.plan), :remote => true, :id => 'subscription_btns', :class => 'button radius secondary')