<footer id="footer">
  <div class="row" id="foot">
    <hr />
    <div class="large-6 columns">
      <p>&copy; 2013 by F-Robots, LLC. All Rights Reserved</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
       <li><a href="https://github.com/holl0272" target="_blank" class="foot_links"><strong>GITHUB</strong><!-- <i class="foundicon-github"></i> --></a></li>
       <li><a href="https://twitter.com/dork_a_saurus" target="_blank"><strong>TWITTER</strong><!-- <i class="foundicon-twitter"></i> --></a></li>
       <li><a href="http://www.facebook.com/eric.holland.58173" target="_blank"><strong>FACEBOOK</strong><!-- <i class="foundicon-facebook"></i> --></a></li>
       <li><a href="www.linkedin.com/in/eholland/" target="_blank"><strong>LINKEDIN</strong><!-- <i class="foundicon-linkedin"></i> --></a></li>
       <li><a href="http://holl0272.tumblr.com/" target="_blank"><strong>TUMBLR</strong><!-- <i class="foundicon-tumblr"></i> --></a></li>
     </ul>
   </div>
 </div>
</footer>