<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to('3rd.wheel', root_path) %></h1>

  </ul>

  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li id="greeting"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right" id="logout_btn">
      <%== login_nav %>
    </ul>

  </section>
</nav>

