<form method='post' action='/mountains'>
  Name:
  <input type='text' name='mountain[name]' autofocus>
  <br>
  Image:
  <input type='text' name='mountain[image]'>
  <br>
  Height (ft):
  <input type='text' name='mountain[height]'>
  <br>
  Range:
  <input type='text' name='mountain[range]'>
  <br>
  Parent Mountain:
  <input type='text' name='mountain[parent]'>
  <br>
  Number of Ascents:
  <input type='text' name='mountain[ascents]'>
  <br>
  <button>Submit</button>
</form>
