- if object.errors.any?
  %em= "Fix the following #{pluralize(object.errors.count, 'error')}:"
  %br
  %br
  %ol
    - object.errors.full_messages.each do |msg|
      %li
        %small.label.alert.radius= msg
