<h3>START</h3>
<a href='/a'>A Page</a>
<a href='/b'>B Page</a>
<br>
<br>
<form action='/redirect' method='get'>
  <input type='text' name='option' placeholder="input: 1, 2 or 3">
  <button>Go!</button>
</form>