@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Oxygen:700);

body
{
  color: white;
  background-color: black;
  font-family: 'Julius Sans One', sans-serif;
}

.image
{
  background-size: cover;
  float: left;
  width: 250px;
  height: 250px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
}

.clear
{
  clear: both;
}