<!DOCTYPE html>
<html>
<head>
  <title>R20130211STOCKMOVIE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul class='nav'>
      <li><a href='/home'>HOME</a></li>
      <li><a href='/about'>ABOUT</a></li>
      <li><a href='/faq'>FAQ</a></li>
      <li><a href='/stock/stockhome'>STOCKS</a></li>
      <li><a href='/movie/moviehome'>MOVIES</a></li>
    </ul>
  </header

  <div class = "content">
  <%= yield %>
  </div>

</body>
</html>
