#greeting
{
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

#logout_btn
{
  margin: 0 5px 0 10px;
}

#login_btn
{
  margin-left: 10px;
}

#cancel_btn
{
  margin-left: 10px;
}

.float
{
  float: left;
}

#subscription_btns
{
  margin: 0 10px -15px 10px;
}